* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', monospace;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.titulo {
    padding: 40px;
    background-color: #f5f5f5;
    animation: fadeIn 2s;
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #4a4a4a; 
}

nav li {
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
    color: #f5f5f5;
    animation: slideIn 1s;
}

nav ul a:hover {
    background-color: #f5f5f5;
    color: #4a4a4a; 
}

.descripcion {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    animation: fadeIn 2s;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    animation: fadeIn 2s;
}

.subject {
    text-align: center;
}

.subject img {
    width: 100%;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenido .articulo div {
    width: calc(25% - 30px); /* Ajuste para 4 columnas */
    padding: 15px;
    background-color: #f0f0f0; /* Cambio de color */
    border-radius: 15px;
    margin-bottom: 30px; /* Separación entre cursos */
    font-size: 20px; /* Tamaño de fuente aumentado */
    margin-right: 20px; /* Espaciado a la derecha */
    animation: slideIn 1s;
}

/* Ajuste de la última columna para que no tenga margen a la derecha */
.contenido .articulo div:last-child {
    margin-right: 0;
}

.contenido .articulo img {
    width: 50%; /* Reducción del tamaño de las imágenes */
    height: auto; /* Mantener la proporción */
    border-radius: 15px;
}

.contenido .secundario {
    width: 30%; 
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: auto; 
    animation: fadeIn 2s;
}

.testimonios {
    width: 90%; 
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #e0e0e0; 
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;
}

.testimonios h2 {
    width: 100%;
    margin-bottom: 20px;
}

.experiencia {
    width: calc(50% - 20px);
    padding: 10px;
}

.experiencia p {
    font-style: italic;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 10px 0;
}
