* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', monospace;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.titulo {
    padding: 40px;
    background-color: #f5f5f5;
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #4a4a4a; 
}

nav li {
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
    color: #f5f5f5;
}

nav ul a:hover {
    background-color: #f5f5f5;
    color: #4a4a4a; 
}

.descripcion {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.subject {
    text-align: center;
}

.subject img {
    width: 100%;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo {
    width: 70%;
    margin: auto;
}

.contenido .articulo div {
    width: 90%;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 15px;
    margin-bottom: 15px;
}

.contenido .articulo img {
    width: 200px;
    border-radius: 15px;
}

.contenido .secundario {
    width: 100%; 
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: auto; 
}

.testimonios {
    width: 90%; 
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #e0e0e0; 
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.testimonios .experiencia {
    background-color: #f5f5f5; 
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    flex: 1 0 21%; 
}

.piedepagina {
    background-color: #4a4a4a; 
    color: #f5f5f5;
    margin-top: 100px;
}

.piedepagina p {
    padding: 20px;
}

footer {
    background-color: #e0e0e0; 
    padding: 20px;
    text-align: right;
}
